/* Navbar */
.navbar {
    background-color: #0f1c2e;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    gap: 20px;
}


.logo {
    color: white;
    font-size: 22px;
    font-weight: bold;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 25px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.navbar a:hover {
    color: #4da6ff;
}

.active {
    border-bottom: 2px solid #4da6ff;
}
